:root
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    margin-left: 10%;
    margin-right: 10%;
}

@media (prefers-color-scheme: dark){
    body{
        background: rgb(30, 30, 30);
        color: gainsboro;
    }
    a:link{
        color: white;
    }
    a:visited{
        color:lightgrey;
    }
    th{
        background-color:rgb(40, 40, 40);
    }
    tr{
        background-color:rgb(50, 50, 50);
    }
    input[type=number]{
        background: rgb(50, 50, 50);
        color: gainsboro;
    }
    input[type=date]{
        background: rgb(50, 50, 50);
        color: gainsboro;
    }
    input[type=submit]{
        background: rgb(50, 50, 50);
        color: gainsboro;
    }
    input[type=submit]:hover{
        background-color: rgb(40, 40, 40);
    }
    button{
        background: rgb(50, 50, 50);
        color: gainsboro;
    }
    #third{
        background-color: #232b29;
    }
}

@media (prefers-color-scheme: light){
    body{
        background: white;
        color:black;
    }
    a:link{
        color:rgb(20, 20, 20);
    }
    a:visited{
        color:rgb(30, 30, 30);
    }
    th{
        background-color:rgb(230, 230, 230);
    }
    tr{
        background-color:rgb(245, 245, 245);
    }
    input[type=number]{
        background: rgb(245, 245, 245);
        color: black;
    }
    input[type=date]{
        background: rgb(245, 245, 245);
        color: black;
    }
    input[type=submit]{
        background: rgb(245, 245, 245);
        color: black;
    }
    input[type=submit]:hover{
        background-color: aliceblue;
    }
    button:hover{
        background: rgb(245, 245, 245);
        color: black;
    }
    #third{
        background-color: #cdf3f0;
    }
}
li{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > img:hover{
    cursor: pointer;
}
#burger
{
    display: none;
    text-align: right;
    background-color: rgb(128, 128, 128);
}
#burger > li:hover{
    background-color: #5d9b8d;
}
#burger > li{
    padding: 2% 2% 2% 2%;
}
#first{
    background: url("./img/background.png") no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
    color: white;
    transition: 1s ease-in;
}
#first:hover{
    background: url("./img/background2.png") no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s ease-in;
}
#first > h1{
    padding: 5% 40% 0 0;
    font-size: 10vw;
}
#first > p{
    padding: 0 60% 0 10%;
    font-size: 1.5vw;
    font-weight: bolder;
    text-align: left;
}
#first > input{
    margin-right: 50%;
    padding: 1% 10% 1% 10%;
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    line-height: normal;
    border: none;
    color: black;
    background-color: #cdf3f0;
}
input:hover{
    cursor: pointer;
}
#second{
    margin: 5% 10% 5% 10%;
}
.flex-container{
    display: flex;
    justify-content: center;
}
#third > .flex-container > div{
    margin: 0 5% 5% 5%;
    transition:cubic-bezier(1,1,0,0) 1s;
}
#third > .flex-container > div > img{
    height: 12vw;
    margin: 15% 0 15% 0;
}
#third > .flex-container > div > input{
    background-color: orange;
    padding: 5% 15% 5% 15%;
    margin: 15% 0 5% 0;
    border: none;
}
#third > .flex-container > div:hover{
    background-color: #86609c;
    border-radius: 20px;
    padding: 20px;
    transition: cubic-bezier(.05,.97,.71,.96) 1s;
}
#forth{
    background: url("./img/bg-grid.png") no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    color: white;
    transition: 1s ease-in;
}
#forth:hover{
    background: url("./img/bg-grid2.png") no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s ease-in;
}
#forth > div > h2{
    color: black;
    padding: 12% 40% 0 0;
}
#forth > div > p{
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5vw;
    text-align: left;
}
#forth > div > img{
    margin-top: 20%;
    margin-right: 20%;
    width: 80%;
}
footer > .flex-container{
    background-color: #202020;
    color: white;
    padding: 40px;
    justify-content: space-evenly;
}
#try_table:hover{
    cursor: pointer;
}